html,
body {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: linear-gradient(#009999, #993366);
}
h1{
  font-family: 'Caveat', cursive;
   font-weight: 850;
}
p{
  font-family: 'Caveat', cursive;
  font-size: 25px;
  font-weight: 100;
  margin-left: 50px;
}
h3{
  font-family: 'Pacifico', cursive;
  font-weight: 550;
  font-size: 20px;
  padding-left: 35px;
}
li{
  font-family: 'Caveat', cursive;
   font-size: 20px;
}
container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
container section{
  margin: 0px 50px;
}
header a{
    text-decoration: none;
    color: #9df06d;
    margin: 0px 20px;
    transition: 3s;
}
header a:hover{
    color: deeppink;
    margin: 0px 50px;
}
footer a:hover{
    color: gold;
}
footer a{
    transition: 5s;
    transition-timing-function: ease;
}
#Рисунок pre{
    transition: 5s;
    border-radius: 2vw;
    border-width: 0px;
    border-style: outset;
    border-color: red;
}
#Рисунок pre:hover{
    background-color: #080808;
    color: #eb6bda;
    border-width: 3px;
}
